# ניהול גרסאות וקבצים מערכתיים
.git/
.gitignore
.gcloudignore
GadiPublicRepo.git/

# סביבת וירטואלית
venv/
env/
.venv/
new_env/
venv_new/
venv_clean/

.idea/
tests/
docs/
audio_files/
output/
temp/
uploads/
whisperx-old-env/
ffmpeg/


# קבצים מהקומפילציה
*.pyc
__pycache__/

# קבצי סביבה אישית
.env

# תיקיות בדיקה ותיעוד (אם אינך צריך אותם בפריסה)

*.log
*.md



