# הסרת קבצי ניהול גרסאות
.git/
.gcloudignore
GadiPublicRepo.git/

# הסרת סביבת הוירטואלית
venv/
env/
new_env/
.venv/
venv_new/
venv_clean/


# הסרת קבצי pyc וקבצי __pycache__
*.pyc
*.pyo
*.pyd
__pycache__/

# הסרת קבצי סביבה אישית
.env

# הסרת תיקיות בדיקה ותיעוד (אם קיימות)
.idea/
tests/
docs/
audio_files/
output/
temp/
uploads/
whisperx-old-env/
ffmpeg/


# אפשר להוסיף עוד חריגות לפי הצורך
*.log
*.md

