--constraint=constraints.txt

brotli==1.1.0
cryptography==44.0.2
Cython==3.0.12
Flask>=3.0,<3.1
lockfile==0.12.2
lxml==5.3.1
mypy_extensions==1.0.0
numpy==1.23.5
openai[voice_helpers]==1.70.0
pandas==2.0.3
protobuf==3.20.1
pyannote.audio==3.1.1
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyOpenSSL==25.0.0
python-dotenv==1.0.1
tabulate==0.9.0
torch==2.4.1
whisperx==3.2.0
gunicorn==20.1.0

# תלויות whisper/pyannote
cffi>=1.12
anyio<5,>=3.5.0
distro<2,>=1.7.0
httpx<1,>=0.23.0
jiter<1,>=0.4.0
pydantic<3,>=1.9.0
sniffio
tqdm>4
typing-extensions<5,>=4.11
python-dateutil>=2.8.2
pytz>=2020.1
tzdata>=2022.1
asteroid-filterbanks>=0.4
einops>=0.6.0
huggingface-hub>=0.13.0
lightning>=2.0.1
omegaconf<3.0,>=2.1
pytorch-metric-learning>=2.1.0
rich>=12.0.0
semver>=3.0.0
soundfile>=0.12.1
speechbrain>=0.5.14
tensorboardX>=2.6.2.2
torch-audiomentations>=0.11.0
torchaudio>=2.0.0
torchmetrics>=0.11.0
sortedcontainers>=2.0.4
scipy>=1.1
pyYAML>=3.12
typer>=0.12.1
scikit-learn>=0.17.1
docopt>=0.6.2
matplotlib>=2.0.0
sympy>=1.1
optuna>=3.1
filelock>=3.0.10
networkx
faster-whisper==1.0.0
ctranslate2==4.4.0
transformers
